{% extends 'base.html.twig' %}

{% block title %}New StatutEleves{% endblock %}

{% block body %}
    <h1>Create new StatutEleves</h1>

    {{ include('statut_eleves/_form.html.twig') }}

    <a href="{{ path('app_statut_eleves_index') }}">back to list</a>
{% endblock %}
