{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
<h1>Bienvenue sur votre espace utilisateur</h1>
<p>Vous pouvez gérer vos informations depuis ce tableau de bord.</p>
{% endblock %}
