{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Bienvenue {{ app.user.username }}, Administrateur</h1>
    <p>Accédez à vos outils de gestion depuis le menu.</p>
    <p>Ceci est votre tableau de bord personnalisé.</p>
    <p>Consultez vos sections via le menu latéral.</p>
{% endblock %}
